<a href="https://colab.research.google.com/github/NishmthaM/Python_pandas/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# what is pandas?
# It has reference for both "panel data" and "python data analysis".Used to work with data set
# (fubctions) analyzing,cleaning,exploring,and manipulating data
# Read and write data structures and different formates: CSV,text.XML,JSON,ZIP etc
# For large amount of data like(lakhs of data) in excel it is not possible so we use pandas

In [ ]:
# To install (pip install pandas)
# To import (import pandas as pd)

In [ ]:
# data structure in pandas
# series, dataframes, panel

In [ ]:
# Series: 1D array capable of storing various data types

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x)
print(var)
print()

print(type(var))
print()

print(var[2])  # to ge the value int he index of 2
print()

0    11
1    12
2    13
3    14
dtype: int64

<class 'pandas.core.series.Series'>

13

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"]) # cahnging the index
print(var)
print()

print(type(var))
print()

a    11
b    12
c    13
d    14
dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"],dtype="float") # To change the data type
print(var)
print()

print(type(var))
print()

a    11.0
b    12.0
c    13.0
d    14.0
dtype: float64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"],dtype="float",name="Series_Data") # give the name to the dtype
print(var)
print()

print(type(var))
print()

print(var[1])

a    11.0
b    12.0
c    13.0
d    14.0
Name: Series_Data, dtype: float64

<class 'pandas.core.series.Series'>

12.0

/tmp/ipython-input-2925176244.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[1])

In [ ]:
# dictionaries - are mutable (changeable) collections of unique key-value pairs
# defined with curly braces {} for mapping meaningful labels (keys) to data (values), like names to phone numbers.

dictionary ={"name":['Python','c','c++','java'],"property":[11,12,13,14],"rank":[1,3,2,4]}
var=pd.Series(dictionary)
var

name        [Python, c, c++, java]
property          [11, 12, 13, 14]
rank                  [1, 3, 2, 4]
dtype: object

In [ ]:
dictionary ={"name":['Python','c','c++','java'],"property":[11,12,13,14],"rank":[1,3,2,4]}
var=pd.Series(dictionary)
print(var)

name        [Python, c, c++, java]
property          [11, 12, 13, 14]
rank                  [1, 3, 2, 4]
dtype: object

object data type because it has data types such as string,int

In [ ]:
a=pd.Series(12)
print(a)
print(type(a))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
a=pd.Series(12,index=[1,2,3,4,5,6,7])
print(a)
print(type(a))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
a1=pd.Series(12,index=[1,2,3,4,5,6,7])
a2=pd.Series(12,index=[1,2,3,4,5])        # the boardcasting error will not come in pandas it will come
print(a1+a2)                              # NaN - not a number

1    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6     NaN
7     NaN
dtype: float64

In [22]:
# dataframe in pandas
# 2D data structure

import pandas as pd

l=[1,2,3,4,5,6]          # can be done by list or dictionary

a=pd.DataFrame(l)
print(type(a))
print()
print(a)

<class 'pandas.core.frame.DataFrame'>

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [32]:
dictionary={"a":[1,2,3,4,5],"b":[6,7,8,9,10]} # values or length must be

d=pd.DataFrame(dictionary,columns=["a"])  # to get one column
print(d)
print()

c=pd.DataFrame(dictionary)
c

   a
0  1
1  2
2  3
3  4
4  5

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10