<a href="https://colab.research.google.com/github/NishmthaM/Python_pandas/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# what is pandas?
# It has reference for both "panel data" and "python data analysis".Used to work with data set
# (fubctions) analyzing,cleaning,exploring,and manipulating data
# Read and write data structures and different formates: CSV,text.XML,JSON,ZIP etc
# For large amount of data like(lakhs of data) in excel it is not possible so we use pandas

In [ ]:
# To install (pip install pandas)
# To import (import pandas as pd)

In [ ]:
# data structure in pandas
# series, dataframes, panel

In [ ]:
# Series: 1D array capable of storing various data types

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x)
print(var)
print()

print(type(var))
print()

print(var[2])  # to ge the value int he index of 2
print()

0    11
1    12
2    13
3    14
dtype: int64

<class 'pandas.core.series.Series'>

13

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"]) # cahnging the index
print(var)
print()

print(type(var))
print()

a    11
b    12
c    13
d    14
dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"],dtype="float") # To change the data type
print(var)
print()

print(type(var))
print()

a    11.0
b    12.0
c    13.0
d    14.0
dtype: float64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"],dtype="float",name="Series_Data") # give the name to the dtype
print(var)
print()

print(type(var))
print()

print(var[1])

a    11.0
b    12.0
c    13.0
d    14.0
Name: Series_Data, dtype: float64

<class 'pandas.core.series.Series'>

12.0

/tmp/ipython-input-2925176244.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[1])

In [ ]:
# dictionaries - are mutable (changeable) collections of unique key-value pairs
# defined with curly braces {} for mapping meaningful labels (keys) to data (values), like names to phone numbers.

dictionary ={"name":['Python','c','c++','java'],"property":[11,12,13,14],"rank":[1,3,2,4]}
var=pd.Series(dictionary)
var

name        [Python, c, c++, java]
property          [11, 12, 13, 14]
rank                  [1, 3, 2, 4]
dtype: object

In [ ]:
dictionary ={"name":['Python','c','c++','java'],"property":[11,12,13,14],"rank":[1,3,2,4]}
var=pd.Series(dictionary)
print(var)

name        [Python, c, c++, java]
property          [11, 12, 13, 14]
rank                  [1, 3, 2, 4]
dtype: object

object data type because it has data types such as string,int

In [ ]:
a=pd.Series(12)
print(a)
print(type(a))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
a=pd.Series(12,index=[1,2,3,4,5,6,7])
print(a)
print(type(a))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
a1=pd.Series(12,index=[1,2,3,4,5,6,7])
a2=pd.Series(12,index=[1,2,3,4,5])        # the boardcasting error will not come in pandas it will come
print(a1+a2)                              # NaN - not a number

1    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6     NaN
7     NaN
dtype: float64

In [ ]:
# dataframe in pandas
# 2D data structure

import pandas as pd

l=[1,2,3,4,5,6]          # can be done by list or dictionary

a=pd.DataFrame(l)
print(type(a))
print()
print(a)

<class 'pandas.core.frame.DataFrame'>

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [ ]:
dictionary={"a":[1,2,3,4,5],"b":[6,7,8,9,10]} # values or length must be

d=pd.DataFrame(dictionary,columns=["a"])  # to get one column
print(d)
print()

c=pd.DataFrame(dictionary)
print(c)
print()

print(dictionary["a"][1]) # get a perticular value

   a
0  1
1  2
2  3
3  4
4  5

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

2

In [ ]:
import pandas as pd

l=[[1,2,3,4,5],[6,7,8,9,10]]

a=pd.DataFrame(l)

print(type(a))
print(a)

<class 'pandas.core.frame.DataFrame'>
   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [ ]:
import pandas as pd
a={"s":pd.Series([1,2,3,4,5]),"r":pd.Series([11,12,13,14,15])} # Series inside the dictionary
b=pd.DataFrame(a)
print(b)
print(type(b))

   s   r
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Aithmetic Operations in Python Pandas

import pandas as pd

a=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
a

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [ ]:
a["C"]=a["A"]/a["B"]
a

   A  B         C
0  1  5  0.200000
1  2  6  0.333333
2  3  7  0.428571
3  4  8  0.500000

In [ ]:
a["C"]=a["A"]+a["B"]
a

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [ ]:
a["C"]=a["A"]%a["B"]
a

   A  B  C
0  1  5  1
1  2  6  2
2  3  7  3
3  4  8  4

In [ ]:
a["C"]=a["A"]-a["B"]
a

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [ ]:
a["C"]=a["A"]*a["B"]
a

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [ ]:
var1=pd.DataFrame({"A":[10,20,30,40],"B":[50,60,40,20]})
var1

    A   B
0  10  50
1  20  60
2  30  40
3  40  20

In [ ]:
var1["New"] = var1["A"] <=20
var1

    A   B    New
0  10  50   True
1  20  60   True
2  30  40  False
3  40  20  False

In [ ]:
var1["New"] = var1["B"] <=20
var1["Alice"] = var1["B"] >=60
var1

    A   B    New  Alice
0  10  50  False  False
1  20  60  False   True
2  30  40  False  False
3  40  20   True  False

In [ ]:
# Delete and Insert function in pandas

import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a.insert (1,"c",a["A"])
a

    A   c   B
0  10  10  50
1  20  20  60
2  30  30  70
3  40  40  80

In [ ]:
import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a.insert (1,"c",[21,22,23,24])  # Passing list
a

    A   c   B
0  10  21  50
1  20  22  60
2  30  23  70
3  40  24  80

In [ ]:
a["slicing"]=a["A"][:3]    # can use slicing method to get minimum numbered value
a

    A   c   B  slicing
0  10  21  50     10.0
1  20  22  60     20.0
2  30  23  70     30.0
3  40  24  80      NaN

In [ ]:
# Delete function
# var.pop()

import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a.pop("B") # to delete
a

    A
0  10
1  20
2  30
3  40

In [ ]:
import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a=a.pop("B") # to know what is deleted
a

0    50
1    60
2    70
3    80
Name: B, dtype: int64

In [ ]:
# can delete using del function

import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})
a

del a["A"]
a

    B
0  50
1  60
2  70
3  80

In [ ]:
# CSV files in pandsa
# Comma Seperated values
# XL file format is an excel sheets binary file format which holds information about worksheets in a file
#to_csv()


import pandas as pd
dis={"a":[12,14,15,13,16],"b":[18,16,17,1,5],"c":[21,22,25,28,31]}  # Dictionary
a=pd.DataFrame(dis) # datframe

print(a)

a.to_csv("Test_new.csv")

    a   b   c
0  12  18  21
1  14  16  22
2  15  17  25
3  13   1  28
4  16   5  31

In [ ]:
import os
os.listdir()

['.config', 'Test_new.csv', 'drive', 'sample_data']

In [ ]:
!ls

drive  sample_data  Test_new.csv

In [ ]:
import pandas as pd
dis={"a":[12,14,15,13,16],"b":[18,16,17,1,5],"c":[21,22,25,28,31]}  # Dictionary
a=pd.DataFrame(dis) # datframe

print(a)

a.to_csv("Test1_new.csv",index=False) # to remove the index value
# can change the header by     a.to_csv("Test1_new.csv",header=[m,n,p])

    a   b   c
0  12  18  21
1  14  16  22
2  15  17  25
3  13   1  28
4  16   5  31

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sales_dataset.csv to sales_dataset (2).csv

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
os.listdir()

['.config',
 'sales_dataset.csv',
 'Test_new.csv',
 'drive',
 'Test1_new.csv',
 'sample_data']

In [ ]:
from google.colab import files
files.upload()

Saving sales_dataset.csv to sales_dataset (1).csv

{'sales_dataset (1).csv': b'Date,Category,Product,Sales,Advertisement\r\n01-01-2023,Accessories,Belts,1407,28\r\n01-01-2023,Accessories,Gloves,2000,100\r\n01-01-2023,Accessories,Hats,1102,22\r\n01-01-2023,Accessories,Scarves,1679,84\r\n01-01-2023,Bottoms,Jeans,1096,22\r\n01-01-2023,Bottoms,Pants,1054,53\r\n01-01-2023,Bottoms,Skirts,1998,100\r\n01-01-2023,Dresses,Casual Dresses,1048,42\r\n01-01-2023,Dresses,Evening Gowns,1760,35\r\n01-01-2023,Footwear,Boots,1688,51\r\n01-01-2023,Footwear,Shoes,1127,45\r\n01-01-2023,Footwear,Sneakers,1311,39\r\n01-01-2023,Outerwear,Coats,1142,34\r\n01-01-2023,Outerwear,Jackets,1683,67\r\n01-01-2023,Outerwear,Sweaters,1370,41\r\n01-01-2023,Sleepwear,Nightgowns,1012,30\r\n01-01-2023,Sleepwear,Pajamas,1592,64\r\n01-01-2023,Sportswear,Sports Jerseys,1787,36\r\n01-01-2023,Sportswear,Yoga Pants,1666,33\r\n01-01-2023,Tops,Blouses,1331,40\r\n01-01-2023,Tops,Shirts,1693,68\r\n01-01-2023,Tops,T-shirts,1983,40\r\n02-01-2023,Accessories,Hats,1721,69\r\n02-01-2023,Accessories,Scarves,1695,51\r\n02-01-2023,Bottoms,Jeans,1154,23\r\n02-01-2023,Bottoms,Pants,1744,52\r\n02-01-2023,Bottoms,Skirts,1004,40\r\n02-01-2023,Dresses,Casual Dresses,1043,21\r\n02-01-2023,Dresses,Evening Gowns,1419,57\r\n02-01-2023,Footwear,Boots,1688,34\r\n02-01-2023,Footwear,Shoes,1791,72\r\n02-01-2023,Footwear,Sneakers,1789,54\r\n02-01-2023,Outerwear,Coats,1355,27\r\n02-01-2023,Outerwear,Jackets,1723,86\r\n02-01-2023,Outerwear,Sweaters,1048,21\r\n02-01-2023,Tops,Blouses,1911,96\r\n02-01-2023,Tops,Shirts,1492,75\r\n02-01-2023,Tops,T-shirts,1156,35\r\n03-01-2023,Accessories,Belts,1364,28\r\n03-01-2023,Accessories,Gloves,1556,60\r\n03-01-2023,Accessories,Hats,1245,30\r\n03-01-2023,Accessories,Scarves,1489,45\r\n03-01-2023,Bottoms,Jeans,1890,65\r\n03-01-2023,Bottoms,Pants,1321,48\r\n03-01-2023,Bottoms,Skirts,1543,70\r\n03-01-2023,Dresses,Casual Dresses,1586,55\r\n03-01-2023,Dresses,Evening Gowns,1924,75\r\n03-01-2023,Footwear,Boots,1720,58\r\n03-01-2023,Footwear,Shoes,1678,65\r\n03-01-2023,Footwear,Sneakers,1843,70\r\n03-01-2023,Outerwear,Coats,1475,60\r\n03-01-2023,Outerwear,Jackets,1810,90\r\n03-01-2023,Outerwear,Sweaters,1398,45\r\n03-01-2023,Sleepwear,Nightgowns,1189,32\r\n03-01-2023,Sleepwear,Pajamas,1634,55\r\n03-01-2023,Sportswear,Sports Jerseys,1865,78\r\n03-01-2023,Sportswear,Yoga Pants,1712,50\r\n03-01-2023,Tops,Blouses,1604,55\r\n03-01-2023,Tops,Shirts,1789,80\r\n03-01-2023,Tops,T-shirts,1423,50\r\n04-01-2023,Accessories,Belts,1438,33\r\n04-01-2023,Accessories,Gloves,1611,65\r\n04-01-2023,Accessories,Hats,1322,35\r\n04-01-2023,Accessories,Scarves,1567,52\r\n04-01-2023,Bottoms,Jeans,1945,75\r\n04-01-2023,Bottoms,Pants,1487,55\r\n04-01-2023,Bottoms,Skirts,1622,68\r\n04-01-2023,Dresses,Casual Dresses,1679,60\r\n04-01-2023,Dresses,Evening Gowns,1856,80\r\n04-01-2023,Footwear,Boots,1768,66\r\n04-01-2023,Footwear,Shoes,1733,70\r\n04-01-2023,Footwear,Sneakers,1895,82\r\n04-01-2023,Outerwear,Coats,1524,63\r\n04-01-2023,Outerwear,Jackets,1765,85\r\n04-01-2023,Outerwear,Sweaters,1411,47\r\n04-01-2023,Tops,Blouses,1702,58\r\n04-01-2023,Tops,Shirts,1648,60\r\n04-01-2023,Tops,T-shirts,1523,45\r\n'}

In [ ]:
os.listdir()

['.config',
 'sales_dataset (1).csv',
 'sales_dataset.csv',
 'Test_new.csv',
 'drive',
 'Test1_new.csv',
 'sample_data']

In [ ]:
'sales_dataset.csv'

'sales_dataset.csv'

In [ ]:
import pandas as pd

df = pd.read_csv("sales_dataset.csv")
df.head()

         Date     Category  Product  Sales  Advertisement
0  01-01-2023  Accessories    Belts   1407             28
1  01-01-2023  Accessories   Gloves   2000            100
2  01-01-2023  Accessories     Hats   1102             22
3  01-01-2023  Accessories  Scarves   1679             84
4  01-01-2023      Bottoms    Jeans   1096             22

In [ ]:

# Read CSV files in pandas
# pandas read the data in a fast way

import pandas as pd

csv = pd.read_csv("sales_dataset.csv")    # IF in jupiter notebook or vs code can give path name of the file
csv

          Date     Category   Product  Sales  Advertisement
0   01-01-2023  Accessories     Belts   1407             28
1   01-01-2023  Accessories    Gloves   2000            100
2   01-01-2023  Accessories      Hats   1102             22
3   01-01-2023  Accessories   Scarves   1679             84
4   01-01-2023      Bottoms     Jeans   1096             22
..         ...          ...       ...    ...            ...
73  04-01-2023    Outerwear   Jackets   1765             85
74  04-01-2023    Outerwear  Sweaters   1411             47
75  04-01-2023         Tops   Blouses   1702             58
76  04-01-2023         Tops    Shirts   1648             60
77  04-01-2023         Tops  T-shirts   1523             45

[78 rows x 5 columns]

In [ ]:
# To get the perticular data or row

import pandas as pd

csv_1 = pd.read_csv("sales_dataset.csv",nrows=3)
csv_1

         Date     Category Product  Sales  Advertisement
0  01-01-2023  Accessories   Belts   1407             28
1  01-01-2023  Accessories  Gloves   2000            100
2  01-01-2023  Accessories    Hats   1102             22

In [ ]:
import pandas as pd
csv_1 = pd.read_csv("sales_dataset.csv",usecols=["Product","Category"],nrows=3)  # to get perticular column
csv_1

      Category Product
0  Accessories   Belts
1  Accessories  Gloves
2  Accessories    Hats

In [ ]:
# to skip the row data

import pandas as pd

csv_1 = pd.read_csv("sales_dataset.csv",usecols=["Product","Category"],nrows=3,skiprows=[2])  # to skip the row
csv_1

      Category  Product
0  Accessories    Belts
1  Accessories     Hats
2  Accessories  Scarves

In [ ]:
# to make an index

import pandas as pd

csv_1 = pd.read_csv("sales_dataset.csv",index_col="Date")  # date will become the index
csv_1

               Category   Product  Sales  Advertisement
Date
01-01-2023  Accessories     Belts   1407             28
01-01-2023  Accessories    Gloves   2000            100
01-01-2023  Accessories      Hats   1102             22
01-01-2023  Accessories   Scarves   1679             84
01-01-2023      Bottoms     Jeans   1096             22
...                 ...       ...    ...            ...
04-01-2023    Outerwear   Jackets   1765             85
04-01-2023    Outerwear  Sweaters   1411             47
04-01-2023         Tops   Blouses   1702             58
04-01-2023         Tops    Shirts   1648             60
04-01-2023         Tops  T-shirts   1523             45

[78 rows x 4 columns]

In [ ]:
#Header parameter
# to make the heading
import pandas as pd

csv_1 = pd.read_csv("sales_dataset.csv",header=3)  # heading will be changed
csv_1

    01-01-2023  Accessories            Hats  1102   22
0   01-01-2023  Accessories         Scarves  1679   84
1   01-01-2023      Bottoms           Jeans  1096   22
2   01-01-2023      Bottoms           Pants  1054   53
3   01-01-2023      Bottoms          Skirts  1998  100
4   01-01-2023      Dresses  Casual Dresses  1048   42
..         ...          ...             ...   ...  ...
70  04-01-2023    Outerwear         Jackets  1765   85
71  04-01-2023    Outerwear        Sweaters  1411   47
72  04-01-2023         Tops         Blouses  1702   58
73  04-01-2023         Tops          Shirts  1648   60
74  04-01-2023         Tops        T-shirts  1523   45

[75 rows x 5 columns]

In [ ]:
# Name parameter

# can use name parameter to make the heading
import pandas as pd

csv_1 = pd.read_csv("sales_dataset.csv",names=["1st col","2nd col","3rd col","4th col","5th col"])
csv_1

       1st col      2nd col   3rd col 4th col        5th col
0         Date     Category   Product   Sales  Advertisement
1   01-01-2023  Accessories     Belts    1407             28
2   01-01-2023  Accessories    Gloves    2000            100
3   01-01-2023  Accessories      Hats    1102             22
4   01-01-2023  Accessories   Scarves    1679             84
..         ...          ...       ...     ...            ...
74  04-01-2023    Outerwear   Jackets    1765             85
75  04-01-2023    Outerwear  Sweaters    1411             47
76  04-01-2023         Tops   Blouses    1702             58
77  04-01-2023         Tops    Shirts    1648             60
78  04-01-2023         Tops  T-shirts    1523             45

[79 rows x 5 columns]

In [ ]:
# Deleting the heading of the file and then creating a new heading by using prefix it gives the same name to every column

import pandas as pd

csv_1 = pd.read_csv("sales_dataset.csv", header=None)
csv_1

             0            1         2      3              4
0         Date     Category   Product  Sales  Advertisement
1   01-01-2023  Accessories     Belts   1407             28
2   01-01-2023  Accessories    Gloves   2000            100
3   01-01-2023  Accessories      Hats   1102             22
4   01-01-2023  Accessories   Scarves   1679             84
..         ...          ...       ...    ...            ...
74  04-01-2023    Outerwear   Jackets   1765             85
75  04-01-2023    Outerwear  Sweaters   1411             47
76  04-01-2023         Tops   Blouses   1702             58
77  04-01-2023         Tops    Shirts   1648             60
78  04-01-2023         Tops  T-shirts   1523             45

[79 rows x 5 columns]

In [ ]:

import pandas as pd

csv_1 = pd.read_csv("sales_dataset.csv", dtype={"Sales":"float"})  # converts sales data into float
csv_1

          Date     Category   Product   Sales  Advertisement
0   01-01-2023  Accessories     Belts  1407.0             28
1   01-01-2023  Accessories    Gloves  2000.0            100
2   01-01-2023  Accessories      Hats  1102.0             22
3   01-01-2023  Accessories   Scarves  1679.0             84
4   01-01-2023      Bottoms     Jeans  1096.0             22
..         ...          ...       ...     ...            ...
73  04-01-2023    Outerwear   Jackets  1765.0             85
74  04-01-2023    Outerwear  Sweaters  1411.0             47
75  04-01-2023         Tops   Blouses  1702.0             58
76  04-01-2023         Tops    Shirts  1648.0             60
77  04-01-2023         Tops  T-shirts  1523.0             45

[78 rows x 5 columns]

In [ ]:
# Pandas function

import pandas as pd
csv_1 = pd.read_csv("sales_dataset.csv")
csv_1

          Date     Category   Product  Sales  Advertisement
0   01-01-2023  Accessories     Belts   1407             28
1   01-01-2023  Accessories    Gloves   2000            100
2   01-01-2023  Accessories      Hats   1102             22
3   01-01-2023  Accessories   Scarves   1679             84
4   01-01-2023      Bottoms     Jeans   1096             22
..         ...          ...       ...    ...            ...
73  04-01-2023    Outerwear   Jackets   1765             85
74  04-01-2023    Outerwear  Sweaters   1411             47
75  04-01-2023         Tops   Blouses   1702             58
76  04-01-2023         Tops    Shirts   1648             60
77  04-01-2023         Tops  T-shirts   1523             45

[78 rows x 5 columns]

In [ ]:
csv_1.index

RangeIndex(start=0, stop=78, step=1)

In [ ]:
csv_1.columns

Index(['Date', 'Category', 'Product', 'Sales', 'Advertisement'], dtype='object')

In [ ]:
csv_1.describe()

             Sales  Advertisement
count    78.000000      78.000000
mean   1548.923077      54.487179
std     271.802438      19.913934
min    1004.000000      21.000000
25%    1365.500000      39.250000
50%    1607.500000      54.500000
75%    1741.250000      68.000000
max    2000.000000     100.000000

In [ ]:
csv_1.head()  # shows the first five data

         Date     Category  Product  Sales  Advertisement
0  01-01-2023  Accessories    Belts   1407             28
1  01-01-2023  Accessories   Gloves   2000            100
2  01-01-2023  Accessories     Hats   1102             22
3  01-01-2023  Accessories  Scarves   1679             84
4  01-01-2023      Bottoms    Jeans   1096             22

In [ ]:
csv_1.head(4) # can give the data for the value given

         Date     Category  Product  Sales  Advertisement
0  01-01-2023  Accessories    Belts   1407             28
1  01-01-2023  Accessories   Gloves   2000            100
2  01-01-2023  Accessories     Hats   1102             22
3  01-01-2023  Accessories  Scarves   1679             84

In [ ]:
csv_1.tail() # gives data from the below

          Date   Category   Product  Sales  Advertisement
73  04-01-2023  Outerwear   Jackets   1765             85
74  04-01-2023  Outerwear  Sweaters   1411             47
75  04-01-2023       Tops   Blouses   1702             58
76  04-01-2023       Tops    Shirts   1648             60
77  04-01-2023       Tops  T-shirts   1523             45

In [ ]:
csv_1.tail(10)

          Date   Category        Product  Sales  Advertisement
68  04-01-2023    Dresses  Evening Gowns   1856             80
69  04-01-2023   Footwear          Boots   1768             66
70  04-01-2023   Footwear          Shoes   1733             70
71  04-01-2023   Footwear       Sneakers   1895             82
72  04-01-2023  Outerwear          Coats   1524             63
73  04-01-2023  Outerwear        Jackets   1765             85
74  04-01-2023  Outerwear       Sweaters   1411             47
75  04-01-2023       Tops        Blouses   1702             58
76  04-01-2023       Tops         Shirts   1648             60
77  04-01-2023       Tops       T-shirts   1523             45

In [ ]:
csv_1[:4] # to get number of rows and columns

         Date     Category  Product  Sales  Advertisement
0  01-01-2023  Accessories    Belts   1407             28
1  01-01-2023  Accessories   Gloves   2000            100
2  01-01-2023  Accessories     Hats   1102             22
3  01-01-2023  Accessories  Scarves   1679             84

In [ ]:
csv_1[2:4] # value form 2 to 3

         Date     Category  Product  Sales  Advertisement
2  01-01-2023  Accessories     Hats   1102             22
3  01-01-2023  Accessories  Scarves   1679             84

In [ ]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
csv_1.index.array

<NumpyExtensionArray>
[ np.int64(0),  np.int64(1),  np.int64(2),  np.int64(3),  np.int64(4),
  np.int64(5),  np.int64(6),  np.int64(7),  np.int64(8),  np.int64(9),
 np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14),
 np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19),
 np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24),
 np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29),
 np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34),
 np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39),
 np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44),
 np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49),
 np.int64(50), np.int64(51), np.int64(52), np.int64(53), np.int64(54),
 np.int64(55), np.int64(56), np.int64(57), np.int64(58), np.int64(59),
 np.int64(60), np.int64(61), np.int64(62), np.int64(63), np.int64(64),
 np.int64(65), np.int64(66), np.int64(67), np.int64(68), np.int64(69),
 np.int64(70), np.int64(71), np.int64(72), np.int64(73), np.int64(74),
 np.int64(75), np.int64(76), np.int64(77)]
Length: 78, dtype: int64

In [ ]:
import numpy as np
a=np.array(csv_1)
a

array([['01-01-2023', 'Accessories', 'Belts', 1407, 28],
       ['01-01-2023', 'Accessories', 'Gloves', 2000, 100],
       ['01-01-2023', 'Accessories', 'Hats', 1102, 22],
       ['01-01-2023', 'Accessories', 'Scarves', 1679, 84],
       ['01-01-2023', 'Bottoms', 'Jeans', 1096, 22],
       ['01-01-2023', 'Bottoms', 'Pants', 1054, 53],
       ['01-01-2023', 'Bottoms', 'Skirts', 1998, 100],
       ['01-01-2023', 'Dresses', 'Casual Dresses', 1048, 42],
       ['01-01-2023', 'Dresses', 'Evening Gowns', 1760, 35],
       ['01-01-2023', 'Footwear', 'Boots', 1688, 51],
       ['01-01-2023', 'Footwear', 'Shoes', 1127, 45],
       ['01-01-2023', 'Footwear', 'Sneakers', 1311, 39],
       ['01-01-2023', 'Outerwear', 'Coats', 1142, 34],
       ['01-01-2023', 'Outerwear', 'Jackets', 1683, 67],
       ['01-01-2023', 'Outerwear', 'Sweaters', 1370, 41],
       ['01-01-2023', 'Sleepwear', 'Nightgowns', 1012, 30],
       ['01-01-2023', 'Sleepwear', 'Pajamas', 1592, 64],
       ['01-01-2023', 'Sportswear', 'Sports Jerseys', 1787, 36],
       ['01-01-2023', 'Sportswear', 'Yoga Pants', 1666, 33],
       ['01-01-2023', 'Tops', 'Blouses', 1331, 40],
       ['01-01-2023', 'Tops', 'Shirts', 1693, 68],
       ['01-01-2023', 'Tops', 'T-shirts', 1983, 40],
       ['02-01-2023', 'Accessories', 'Hats', 1721, 69],
       ['02-01-2023', 'Accessories', 'Scarves', 1695, 51],
       ['02-01-2023', 'Bottoms', 'Jeans', 1154, 23],
       ['02-01-2023', 'Bottoms', 'Pants', 1744, 52],
       ['02-01-2023', 'Bottoms', 'Skirts', 1004, 40],
       ['02-01-2023', 'Dresses', 'Casual Dresses', 1043, 21],
       ['02-01-2023', 'Dresses', 'Evening Gowns', 1419, 57],
       ['02-01-2023', 'Footwear', 'Boots', 1688, 34],
       ['02-01-2023', 'Footwear', 'Shoes', 1791, 72],
       ['02-01-2023', 'Footwear', 'Sneakers', 1789, 54],
       ['02-01-2023', 'Outerwear', 'Coats', 1355, 27],
       ['02-01-2023', 'Outerwear', 'Jackets', 1723, 86],
       ['02-01-2023', 'Outerwear', 'Sweaters', 1048, 21],
       ['02-01-2023', 'Tops', 'Blouses', 1911, 96],
       ['02-01-2023', 'Tops', 'Shirts', 1492, 75],
       ['02-01-2023', 'Tops', 'T-shirts', 1156, 35],
       ['03-01-2023', 'Accessories', 'Belts', 1364, 28],
       ['03-01-2023', 'Accessories', 'Gloves', 1556, 60],
       ['03-01-2023', 'Accessories', 'Hats', 1245, 30],
       ['03-01-2023', 'Accessories', 'Scarves', 1489, 45],
       ['03-01-2023', 'Bottoms', 'Jeans', 1890, 65],
       ['03-01-2023', 'Bottoms', 'Pants', 1321, 48],
       ['03-01-2023', 'Bottoms', 'Skirts', 1543, 70],
       ['03-01-2023', 'Dresses', 'Casual Dresses', 1586, 55],
       ['03-01-2023', 'Dresses', 'Evening Gowns', 1924, 75],
       ['03-01-2023', 'Footwear', 'Boots', 1720, 58],
       ['03-01-2023', 'Footwear', 'Shoes', 1678, 65],
       ['03-01-2023', 'Footwear', 'Sneakers', 1843, 70],
       ['03-01-2023', 'Outerwear', 'Coats', 1475, 60],
       ['03-01-2023', 'Outerwear', 'Jackets', 1810, 90],
       ['03-01-2023', 'Outerwear', 'Sweaters', 1398, 45],
       ['03-01-2023', 'Sleepwear', 'Nightgowns', 1189, 32],
       ['03-01-2023', 'Sleepwear', 'Pajamas', 1634, 55],
       ['03-01-2023', 'Sportswear', 'Sports Jerseys', 1865, 78],
       ['03-01-2023', 'Sportswear', 'Yoga Pants', 1712, 50],
       ['03-01-2023', 'Tops', 'Blouses', 1604, 55],
       ['03-01-2023', 'Tops', 'Shirts', 1789, 80],
       ['03-01-2023', 'Tops', 'T-shirts', 1423, 50],
       ['04-01-2023', 'Accessories', 'Belts', 1438, 33],
       ['04-01-2023', 'Accessories', 'Gloves', 1611, 65],
       ['04-01-2023', 'Accessories', 'Hats', 1322, 35],
       ['04-01-2023', 'Accessories', 'Scarves', 1567, 52],
       ['04-01-2023', 'Bottoms', 'Jeans', 1945, 75],
       ['04-01-2023', 'Bottoms', 'Pants', 1487, 55],
       ['04-01-2023', 'Bottoms', 'Skirts', 1622, 68],
       ['04-01-2023', 'Dresses', 'Casual Dresses', 1679, 60],
       ['04-01-2023', 'Dresses', 'Evening Gowns', 1856, 80],
       ['04-01-2023', 'Footwear', 'Boots', 1768, 66],
       ['04-01-2023', 'Footwear', 'Shoes', 1733, 70],
       ['04-01-2023', 'Footwear', 'Sneakers', 1895, 82],
       ['04-01-2023', 'Outerwear', 'Coats', 1524, 63],
       ['04-01-2023', 'Outerwear', 'Jackets', 1765, 85],
       ['04-01-2023', 'Outerwear', 'Sweaters', 1411, 47],
       ['04-01-2023', 'Tops', 'Blouses', 1702, 58],
       ['04-01-2023', 'Tops', 'Shirts', 1648, 60],
       ['04-01-2023', 'Tops', 'T-shirts', 1523, 45]], dtype=object)

In [ ]:
csv_1.sort_index(axis=0,ascending=False)

          Date     Category   Product  Sales  Advertisement
77  04-01-2023         Tops  T-shirts   1523             45
76  04-01-2023         Tops    Shirts   1648             60
75  04-01-2023         Tops   Blouses   1702             58
74  04-01-2023    Outerwear  Sweaters   1411             47
73  04-01-2023    Outerwear   Jackets   1765             85
..         ...          ...       ...    ...            ...
4   01-01-2023      Bottoms     Jeans   1096             22
3   01-01-2023  Accessories   Scarves   1679             84
2   01-01-2023  Accessories      Hats   1102             22
1   01-01-2023  Accessories    Gloves   2000            100
0   01-01-2023  Accessories     Belts   1407             28

[78 rows x 5 columns]

In [ ]:
csv_1.sort_index(axis=1,ascending=False)

    Sales   Product        Date     Category  Advertisement
0    1407     Belts  01-01-2023  Accessories             28
1    2000    Gloves  01-01-2023  Accessories            100
2    1102      Hats  01-01-2023  Accessories             22
3    1679   Scarves  01-01-2023  Accessories             84
4    1096     Jeans  01-01-2023      Bottoms             22
..    ...       ...         ...          ...            ...
73   1765   Jackets  04-01-2023    Outerwear             85
74   1411  Sweaters  04-01-2023    Outerwear             47
75   1702   Blouses  04-01-2023         Tops             58
76   1648    Shirts  04-01-2023         Tops             60
77   1523  T-shirts  04-01-2023         Tops             45

[78 rows x 5 columns]

In [ ]:
csv_1["Category"][2]="Skirt"  # it is not the correct method to do the changes but we can do this
csv_1

/tmp/ipython-input-2256872252.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv_1["Category"][2]="Skirt"  # it is not the correct method to do the changes but we can do this
/tmp/ipython-input-2256872252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1["Category"][2]="Skirt"  # it is not the correct method to do the changes but we can do this

          Date     Category   Product  Sales  Advertisement
0   01-01-2023  Accessories     Belts   1407             28
1   01-01-2023  Accessories    Gloves   2000            100
2   01-01-2023        Skirt      Hats   1102             22
3   01-01-2023  Accessories   Scarves   1679             84
4   01-01-2023      Bottoms     Jeans   1096             22
..         ...          ...       ...    ...            ...
73  04-01-2023    Outerwear   Jackets   1765             85
74  04-01-2023    Outerwear  Sweaters   1411             47
75  04-01-2023         Tops   Blouses   1702             58
76  04-01-2023         Tops    Shirts   1648             60
77  04-01-2023         Tops  T-shirts   1523             45

[78 rows x 5 columns]

In [ ]:
csv_1.loc[1,"Category"]="BootCut"   # this is the correct method to use to change the data
csv_1

          Date     Category   Product  Sales  Advertisement
0   01-01-2023  Accessories     Belts   1407             28
1   01-01-2023      BootCut    Gloves   2000            100
2   01-01-2023        Skirt      Hats   1102             22
3   01-01-2023  Accessories   Scarves   1679             84
4   01-01-2023      Bottoms     Jeans   1096             22
..         ...          ...       ...    ...            ...
73  04-01-2023    Outerwear   Jackets   1765             85
74  04-01-2023    Outerwear  Sweaters   1411             47
75  04-01-2023         Tops   Blouses   1702             58
76  04-01-2023         Tops    Shirts   1648             60
77  04-01-2023         Tops  T-shirts   1523             45

[78 rows x 5 columns]

In [ ]:
csv_1.loc[[0,2],["Category","Product"]]

      Category Product
0  Accessories   Belts
2        Skirt    Hats

In [ ]:
csv_1.iloc[0,1]  # 0th index and 1st colulmn index

'Accessories'

In [ ]:
# to drop the data

csv_1.drop("Category", axis=1) # delete the perticular given data

          Date   Product  Sales  Advertisement
0   01-01-2023     Belts   1407             28
1   01-01-2023    Gloves   2000            100
2   01-01-2023      Hats   1102             22
3   01-01-2023   Scarves   1679             84
4   01-01-2023     Jeans   1096             22
..         ...       ...    ...            ...
73  04-01-2023   Jackets   1765             85
74  04-01-2023  Sweaters   1411             47
75  04-01-2023   Blouses   1702             58
76  04-01-2023    Shirts   1648             60
77  04-01-2023  T-shirts   1523             45

[78 rows x 4 columns]

In [ ]:
# Handling Missing value (dropna & fillna) in pandas
# To add or delete the data in a empty block

import pandas as pd
a = pd.read_csv("sales_dataset.csv")
a

a.dropna() # None value will be deleted.This will drop the row values

          Date     Category   Product  Sales  Advertisement
0   01-01-2023  Accessories     Belts   1407             28
1   01-01-2023  Accessories    Gloves   2000            100
2   01-01-2023  Accessories      Hats   1102             22
3   01-01-2023  Accessories   Scarves   1679             84
4   01-01-2023      Bottoms     Jeans   1096             22
..         ...          ...       ...    ...            ...
73  04-01-2023    Outerwear   Jackets   1765             85
74  04-01-2023    Outerwear  Sweaters   1411             47
75  04-01-2023         Tops   Blouses   1702             58
76  04-01-2023         Tops    Shirts   1648             60
77  04-01-2023         Tops  T-shirts   1523             45

[78 rows x 5 columns]

In [ ]:
a.dropna(axis=0)  # for column value

          Date     Category   Product  Sales  Advertisement
0   01-01-2023  Accessories     Belts   1407             28
1   01-01-2023  Accessories    Gloves   2000            100
2   01-01-2023  Accessories      Hats   1102             22
3   01-01-2023  Accessories   Scarves   1679             84
4   01-01-2023      Bottoms     Jeans   1096             22
..         ...          ...       ...    ...            ...
73  04-01-2023    Outerwear   Jackets   1765             85
74  04-01-2023    Outerwear  Sweaters   1411             47
75  04-01-2023         Tops   Blouses   1702             58
76  04-01-2023         Tops    Shirts   1648             60
77  04-01-2023         Tops  T-shirts   1523             45

[78 rows x 5 columns]

In [1]:
from google.colab import files
uploaded = files.upload()

Saving sales_dataset_12_rows.csv to sales_dataset_12_rows.csv

In [2]:
import pandas as pd
a = pd.read_csv("sales_dataset_12_rows.csv")
a

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Asha,Notebook,Stationery,10,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,2026-01-04,South,Ben,Pen,Stationery,25,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,2026-01-06,East,Chen,Desk Lamp,Office,3,18.99,0.10,Cedar Inc,56.97,5.70,51.27
3,1004,2026-01-07,West,Dia,Chair,Furniture,2,89.00,NaN,Delta Partners,178.00,0.00,178.00
4,1005,2026-01-09,North,Asha,Monitor,Electronics,1,159.99,0.08,Echo Corp,159.99,12.80,147.19
5,1006,2026-01-11,South,Ben,Keyboard,Electronics,4,24.50,0.00,NaN,98.00,0.00,98.00
6,1007,2026-01-12,East,Chen,Paper,Stationery,50,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,2026-01-14,West,Dia,Stapler,Office,5,6.75,0.15,Gamma Group,33.75,5.06,28.69
8,1009,2026-01-15,North,NaN,Mouse,Electronics,6,12.00,0.05,Helios,72.00,3.60,68.40
9,1010,2026-01-18,South,Ben,Whiteboard,Office,1,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,2026-01-20,East,Chen,Desk,Furniture,1,210.00,0.12,Juno,210.00,25.20,184.80
11,1012,2026-01-22,West,Dia,NaN,Office,7,3.25,0.00,Kilo,22.75,0.00,22.75

In [4]:
a.dropna() # removed all the NaN datavalues and row values

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Asha,Notebook,Stationery,10,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,2026-01-04,South,Ben,Pen,Stationery,25,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,2026-01-06,East,Chen,Desk Lamp,Office,3,18.99,0.10,Cedar Inc,56.97,5.70,51.27
4,1005,2026-01-09,North,Asha,Monitor,Electronics,1,159.99,0.08,Echo Corp,159.99,12.80,147.19
6,1007,2026-01-12,East,Chen,Paper,Stationery,50,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,2026-01-14,West,Dia,Stapler,Office,5,6.75,0.15,Gamma Group,33.75,5.06,28.69
9,1010,2026-01-18,South,Ben,Whiteboard,Office,1,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,2026-01-20,East,Chen,Desk,Furniture,1,210.00,0.12,Juno,210.00,25.20,184.80

In [7]:
a.dropna(axis=1) # the NaN value in the column will be deleted .Whole coloumn will bw deleted

,order_id,order_date,region,category,units,unit_price,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Stationery,10,4.50,45.00,0.00,45.00
1,1002,2026-01-04,South,Stationery,25,1.20,30.00,1.50,28.50
2,1003,2026-01-06,East,Office,3,18.99,56.97,5.70,51.27
3,1004,2026-01-07,West,Furniture,2,89.00,178.00,0.00,178.00
4,1005,2026-01-09,North,Electronics,1,159.99,159.99,12.80,147.19
5,1006,2026-01-11,South,Electronics,4,24.50,98.00,0.00,98.00
6,1007,2026-01-12,East,Stationery,50,0.10,5.00,0.00,5.00
7,1008,2026-01-14,West,Office,5,6.75,33.75,5.06,28.69
8,1009,2026-01-15,North,Electronics,6,12.00,72.00,3.60,68.40
9,1010,2026-01-18,South,Office,1,55.00,55.00,0.00,55.00
10,1011,2026-01-20,East,Furniture,1,210.00,210.00,25.20,184.80
11,1012,2026-01-22,West,Office,7,3.25,22.75,0.00,22.75

In [21]:
# can use var.dropna(how="any") / var.dropna(how="all") for removing the rows and coumns of NaN data

In [23]:
a.dropna(how="any") # delete all the emmpty block row

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Asha,Notebook,Stationery,10,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,2026-01-04,South,Ben,Pen,Stationery,25,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,2026-01-06,East,Chen,Desk Lamp,Office,3,18.99,0.10,Cedar Inc,56.97,5.70,51.27
4,1005,2026-01-09,North,Asha,Monitor,Electronics,1,159.99,0.08,Echo Corp,159.99,12.80,147.19
6,1007,2026-01-12,East,Chen,Paper,Stationery,50,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,2026-01-14,West,Dia,Stapler,Office,5,6.75,0.15,Gamma Group,33.75,5.06,28.69
9,1010,2026-01-18,South,Ben,Whiteboard,Office,1,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,2026-01-20,East,Chen,Desk,Furniture,1,210.00,0.12,Juno,210.00,25.20,184.80

In [25]:
a.dropna(how="all") # deletes the value when whole row ill null only that row is deleted and other NaN values will be shown

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Asha,Notebook,Stationery,10,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,2026-01-04,South,Ben,Pen,Stationery,25,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,2026-01-06,East,Chen,Desk Lamp,Office,3,18.99,0.10,Cedar Inc,56.97,5.70,51.27
3,1004,2026-01-07,West,Dia,Chair,Furniture,2,89.00,NaN,Delta Partners,178.00,0.00,178.00
4,1005,2026-01-09,North,Asha,Monitor,Electronics,1,159.99,0.08,Echo Corp,159.99,12.80,147.19
5,1006,2026-01-11,South,Ben,Keyboard,Electronics,4,24.50,0.00,NaN,98.00,0.00,98.00
6,1007,2026-01-12,East,Chen,Paper,Stationery,50,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,2026-01-14,West,Dia,Stapler,Office,5,6.75,0.15,Gamma Group,33.75,5.06,28.69
8,1009,2026-01-15,North,NaN,Mouse,Electronics,6,12.00,0.05,Helios,72.00,3.60,68.40
9,1010,2026-01-18,South,Ben,Whiteboard,Office,1,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,2026-01-20,East,Chen,Desk,Furniture,1,210.00,0.12,Juno,210.00,25.20,184.80
11,1012,2026-01-22,West,Dia,NaN,Office,7,3.25,0.00,Kilo,22.75,0.00,22.75

In [29]:
# Subset Parameter  ( var.dropna(subset["column name"]))
# This parameter deletes the given column name, NaN bolck row will be deleted


a.dropna(subset=["customer"])

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Asha,Notebook,Stationery,10,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,2026-01-04,South,Ben,Pen,Stationery,25,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,2026-01-06,East,Chen,Desk Lamp,Office,3,18.99,0.10,Cedar Inc,56.97,5.70,51.27
3,1004,2026-01-07,West,Dia,Chair,Furniture,2,89.00,NaN,Delta Partners,178.00,0.00,178.00
4,1005,2026-01-09,North,Asha,Monitor,Electronics,1,159.99,0.08,Echo Corp,159.99,12.80,147.19
6,1007,2026-01-12,East,Chen,Paper,Stationery,50,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,2026-01-14,West,Dia,Stapler,Office,5,6.75,0.15,Gamma Group,33.75,5.06,28.69
8,1009,2026-01-15,North,NaN,Mouse,Electronics,6,12.00,0.05,Helios,72.00,3.60,68.40
9,1010,2026-01-18,South,Ben,Whiteboard,Office,1,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,2026-01-20,East,Chen,Desk,Furniture,1,210.00,0.12,Juno,210.00,25.20,184.80
11,1012,2026-01-22,West,Dia,NaN,Office,7,3.25,0.00,Kilo,22.75,0.00,22.75

In [33]:
# inplace parameter(  var.dropna(inplace=True))
# It will removes the NaN block and new dataset will be created
a.dropna(inplace=True)
a

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Asha,Notebook,Stationery,10,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,2026-01-04,South,Ben,Pen,Stationery,25,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,2026-01-06,East,Chen,Desk Lamp,Office,3,18.99,0.10,Cedar Inc,56.97,5.70,51.27
4,1005,2026-01-09,North,Asha,Monitor,Electronics,1,159.99,0.08,Echo Corp,159.99,12.80,147.19
6,1007,2026-01-12,East,Chen,Paper,Stationery,50,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,2026-01-14,West,Dia,Stapler,Office,5,6.75,0.15,Gamma Group,33.75,5.06,28.69
9,1010,2026-01-18,South,Ben,Whiteboard,Office,1,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,2026-01-20,East,Chen,Desk,Furniture,1,210.00,0.12,Juno,210.00,25.20,184.80

In [37]:
# thresh parameter ( var.dropna(tresh="number of null values" ))
# this will reomve the row which is having given number of NaN

a.dropna(thresh=1)

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,2026-01-03,North,Asha,Notebook,Stationery,10,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,2026-01-04,South,Ben,Pen,Stationery,25,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,2026-01-06,East,Chen,Desk Lamp,Office,3,18.99,0.10,Cedar Inc,56.97,5.70,51.27
4,1005,2026-01-09,North,Asha,Monitor,Electronics,1,159.99,0.08,Echo Corp,159.99,12.80,147.19
6,1007,2026-01-12,East,Chen,Paper,Stationery,50,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,2026-01-14,West,Dia,Stapler,Office,5,6.75,0.15,Gamma Group,33.75,5.06,28.69
9,1010,2026-01-18,South,Ben,Whiteboard,Office,1,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,2026-01-20,East,Chen,Desk,Furniture,1,210.00,0.12,Juno,210.00,25.20,184.80

In [40]:
# fillna
# used to fill the values

In [45]:
from google.colab import files
uploaded = files.upload()

Saving sales.csv to sales (2).csv

In [46]:
import pandas as pd
a = pd.read_csv("sales.csv")
a

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,03-01-2026,North,Asha,Notebook,Stationery,10.0,4.50,0.00,Acme Co,45.00,0.00,45.00
1,1002,04-01-2026,South,Ben,Pen,Stationery,25.0,1.20,0.05,Beta LLC,30.00,1.50,28.50
2,1003,06-01-2026,East,Chen,Desk Lamp,Office,3.0,18.99,0.10,Cedar Inc,56.97,5.70,51.27
3,1004,07-01-2026,West,Dia,Chair,Furniture,2.0,89.00,NaN,Delta Partners,178.00,0.00,178.00
4,1005,09-01-2026,North,Asha,Monitor,Electronics,1.0,159.99,0.08,Echo Corp,159.99,12.80,147.19
5,1006,11-01-2026,South,Ben,Keyboard,Electronics,4.0,24.50,0.00,NaN,98.00,0.00,98.00
6,1007,12-01-2026,East,Chen,Paper,Stationery,50.0,0.10,0.00,Foxtrot Ltd,5.00,0.00,5.00
7,1008,14-01-2026,West,Dia,Stapler,Office,5.0,6.75,0.15,Gamma Group,33.75,5.06,28.69
8,1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1010,18-01-2026,South,Ben,Whiteboard,Office,1.0,55.00,0.00,Ibis,55.00,0.00,55.00
10,1011,20-01-2026,East,Chen,Desk,Furniture,1.0,210.00,0.12,Juno,210.00,25.20,184.80
11,1012,22-01-2026,West,Dia,NaN,Office,7.0,3.25,0.00,Kilo,22.75,0.00,22.75

In [47]:
a.fillna("valuse to be added")

,order_id,order_date,region,sales_rep,product,category,units,unit_price,discount_pct,customer,gross_sales,discount_amt,net_sales
0,1001,03-01-2026,North,Asha,Notebook,Stationery,10.0,4.5,0.0,Acme Co,45.0,0.0,45.0
1,1002,04-01-2026,South,Ben,Pen,Stationery,25.0,1.2,0.05,Beta LLC,30.0,1.5,28.5
2,1003,06-01-2026,East,Chen,Desk Lamp,Office,3.0,18.99,0.1,Cedar Inc,56.97,5.7,51.27
3,1004,07-01-2026,West,Dia,Chair,Furniture,2.0,89.0,valuse to be added,Delta Partners,178.0,0.0,178.0
4,1005,09-01-2026,North,Asha,Monitor,Electronics,1.0,159.99,0.08,Echo Corp,159.99,12.8,147.19
5,1006,11-01-2026,South,Ben,Keyboard,Electronics,4.0,24.5,0.0,valuse to be added,98.0,0.0,98.0
6,1007,12-01-2026,East,Chen,Paper,Stationery,50.0,0.1,0.0,Foxtrot Ltd,5.0,0.0,5.0
7,1008,14-01-2026,West,Dia,Stapler,Office,5.0,6.75,0.15,Gamma Group,33.75,5.06,28.69
8,1009,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added,valuse to be added
9,1010,18-01-2026,South,Ben,Whiteboard,Office,1.0,55.0,0.0,Ibis,55.0,0.0,55.0
10,1011,20-01-2026,East,Chen,Desk,Furniture,1.0,210.0,0.12,Juno,210.0,25.2,184.8
11,1012,22-01-2026,West,Dia,valuse to be added,Office,7.0,3.25,0.0,Kilo,22.75,0.0,22.75