<a href="https://colab.research.google.com/github/NishmthaM/Python_pandas/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# what is pandas?
# It has reference for both "panel data" and "python data analysis".Used to work with data set
# (fubctions) analyzing,cleaning,exploring,and manipulating data
# Read and write data structures and different formates: CSV,text.XML,JSON,ZIP etc
# For large amount of data like(lakhs of data) in excel it is not possible so we use pandas

In [ ]:
# To install (pip install pandas)
# To import (import pandas as pd)

In [ ]:
# data structure in pandas
# series, dataframes, panel

In [ ]:
# Series: 1D array capable of storing various data types

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x)
print(var)
print()

print(type(var))
print()

print(var[2])  # to ge the value int he index of 2
print()

0    11
1    12
2    13
3    14
dtype: int64

<class 'pandas.core.series.Series'>

13

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"]) # cahnging the index
print(var)
print()

print(type(var))
print()

a    11
b    12
c    13
d    14
dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"],dtype="float") # To change the data type
print(var)
print()

print(type(var))
print()

a    11.0
b    12.0
c    13.0
d    14.0
dtype: float64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

x=[11,12,13,14]
var=pd.Series(x,index=["a","b","c","d"],dtype="float",name="Series_Data") # give the name to the dtype
print(var)
print()

print(type(var))
print()

print(var[1])

a    11.0
b    12.0
c    13.0
d    14.0
Name: Series_Data, dtype: float64

<class 'pandas.core.series.Series'>

12.0

/tmp/ipython-input-2925176244.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[1])

In [ ]:
# dictionaries - are mutable (changeable) collections of unique key-value pairs
# defined with curly braces {} for mapping meaningful labels (keys) to data (values), like names to phone numbers.

dictionary ={"name":['Python','c','c++','java'],"property":[11,12,13,14],"rank":[1,3,2,4]}
var=pd.Series(dictionary)
var

name        [Python, c, c++, java]
property          [11, 12, 13, 14]
rank                  [1, 3, 2, 4]
dtype: object

In [ ]:
dictionary ={"name":['Python','c','c++','java'],"property":[11,12,13,14],"rank":[1,3,2,4]}
var=pd.Series(dictionary)
print(var)

name        [Python, c, c++, java]
property          [11, 12, 13, 14]
rank                  [1, 3, 2, 4]
dtype: object

object data type because it has data types such as string,int

In [ ]:
a=pd.Series(12)
print(a)
print(type(a))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
a=pd.Series(12,index=[1,2,3,4,5,6,7])
print(a)
print(type(a))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
a1=pd.Series(12,index=[1,2,3,4,5,6,7])
a2=pd.Series(12,index=[1,2,3,4,5])        # the boardcasting error will not come in pandas it will come
print(a1+a2)                              # NaN - not a number

1    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6     NaN
7     NaN
dtype: float64

In [ ]:
# dataframe in pandas
# 2D data structure

import pandas as pd

l=[1,2,3,4,5,6]          # can be done by list or dictionary

a=pd.DataFrame(l)
print(type(a))
print()
print(a)

<class 'pandas.core.frame.DataFrame'>

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [ ]:
dictionary={"a":[1,2,3,4,5],"b":[6,7,8,9,10]} # values or length must be

d=pd.DataFrame(dictionary,columns=["a"])  # to get one column
print(d)
print()

c=pd.DataFrame(dictionary)
print(c)
print()

print(dictionary["a"][1]) # get a perticular value

   a
0  1
1  2
2  3
3  4
4  5

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

2

In [ ]:
import pandas as pd

l=[[1,2,3,4,5],[6,7,8,9,10]]

a=pd.DataFrame(l)

print(type(a))
print(a)

<class 'pandas.core.frame.DataFrame'>
   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [ ]:
import pandas as pd
a={"s":pd.Series([1,2,3,4,5]),"r":pd.Series([11,12,13,14,15])} # Series inside the dictionary
b=pd.DataFrame(a)
print(b)
print(type(b))

   s   r
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Aithmetic Operations in Python Pandas

import pandas as pd

a=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
a

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [ ]:
a["C"]=a["A"]/a["B"]
a

   A  B         C
0  1  5  0.200000
1  2  6  0.333333
2  3  7  0.428571
3  4  8  0.500000

In [ ]:
a["C"]=a["A"]+a["B"]
a

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [ ]:
a["C"]=a["A"]%a["B"]
a

   A  B  C
0  1  5  1
1  2  6  2
2  3  7  3
3  4  8  4

In [ ]:
a["C"]=a["A"]-a["B"]
a

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [ ]:
a["C"]=a["A"]*a["B"]
a

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [ ]:
var1=pd.DataFrame({"A":[10,20,30,40],"B":[50,60,40,20]})
var1

    A   B
0  10  50
1  20  60
2  30  40
3  40  20

In [ ]:
var1["New"] = var1["A"] <=20
var1

    A   B    New
0  10  50   True
1  20  60   True
2  30  40  False
3  40  20  False

In [ ]:
var1["New"] = var1["B"] <=20
var1["Alice"] = var1["B"] >=60
var1

    A   B    New  Alice
0  10  50  False  False
1  20  60  False   True
2  30  40  False  False
3  40  20   True  False

In [15]:
# Delete and Insert function in pandas

import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a.insert (1,"c",a["A"])
a

    A   c   B
0  10  10  50
1  20  20  60
2  30  30  70
3  40  40  80

In [17]:
import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a.insert (1,"c",[21,22,23,24])  # Passing list
a

    A   c   B
0  10  21  50
1  20  22  60
2  30  23  70
3  40  24  80

In [20]:
a["slicing"]=a["A"][:3]    # can use slicing method to get minimum numbered value
a

    A   c   B  slicing
0  10  21  50     10.0
1  20  22  60     20.0
2  30  23  70     30.0
3  40  24  80      NaN

In [26]:
# Delete function
# var.pop()

import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a.pop("B") # to delete
a

    A
0  10
1  20
2  30
3  40

In [29]:
import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})

a

a=a.pop("B") # to know what is deleted
a

0    50
1    60
2    70
3    80
Name: B, dtype: int64

In [34]:
# can delete using del function

import pandas as pd

a= pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80]})
a

del a["A"]
a

    B
0  50
1  60
2  70
3  80

In [ ]:
# CSV files in pandsa
# Comma Seperated values
# XL file format is an excel sheets binary file format which holds information about worksheets in a file
#to_csv()


import pandas as pd
dis={"a":[12,14,15,13,16],"b":[18,16,17,1,5],"c":[21,22,25,28,31]}  # Dictionary
a=pd.DataFrame(dis) # datframe

print(a)

a.to_csv("Test_new.csv")

    a   b   c
0  12  18  21
1  14  16  22
2  15  17  25
3  13   1  28
4  16   5  31

In [ ]:
import os
os.listdir()

['.config', 'Test.csv', 'Test_new.csv', 'sample_data']

In [ ]:
!ls

sample_data  Test.csv  Test_new.csv

In [9]:
import pandas as pd
dis={"a":[12,14,15,13,16],"b":[18,16,17,1,5],"c":[21,22,25,28,31]}  # Dictionary
a=pd.DataFrame(dis) # datframe

print(a)

a.to_csv("Test1_new.csv",index=False) # to remove the index value
# can change the header by     a.to_csv("Test1_new.csv",header=[m,n,p])

    a   b   c
0  12  18  21
1  14  16  22
2  15  17  25
3  13   1  28
4  16   5  31